*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea
*.iml

# Ray Tracer
raytracer-master*
BIT*
*.res
*.zip*
*.log

# Random files
*.svg
temp-plot.html
__pycache__*
.ipynb_checkpoints/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#previsionAlgorithm
previsionAlgorithmJava/out

